In [1]:
pip install kaggle

Collecting kaggleNote: you may need to restart the kernel to use updated packages.

  Downloading kaggle-1.6.17.tar.gz (82 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\hp\appdata\roaming\python\python312\site-packages (from bleach->kaggle) (24.2)
Requirement already satisfied: webencodings in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\anaconda2\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105797 sha256=0453107f7356a4ddc5629341721dabe007337ade56e4463c65a767526ce03bf9
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\46\d2\26\84d0a1acdb9c6baccf7d28cf06962ec80529fe1ad938489983
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.17

In [ ]:
import kaggle 
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\HP\OneDrive\Desktop\SMIT CDE\CDE-Projects\End to End Data Analytics Project (Python + SQL)

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 333kB/s]
100%|##########| 200k/200k [00:00<00:00, 333kB/s]

In [1]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [2]:
# Read data form file and handel null values
import pandas as pd
df= pd.read_csv('orders.csv',na_values=['Not Available', 'unknown'])

In [3]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [4]:
# Rename these columns to correct format 
# df.rename(columns={'Order Id':'order_id','City':'city'})  --Not the Right Practice
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [5]:
df.columns
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
# Derive new columns from prices
df['discount']=df['list_price']*df['discount_percent']*0.01

In [7]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0

In [8]:
df['sale_price']=df['list_price']-df['discount']

In [ ]:
df['profit']=df['sale_price']-df['cost_price']
df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')
df.drop(columns=['cost_price', 'list_price','discount_percent'],inplace=True)
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [ ]:
# Load data to SQL server
from sqlalchemy import create_engine

# Replace these values with your actual database details
server = "DESKTOP-BQ4DDUT"
database = "SMIT"
username = "shahmeer"
password = "bnmHJKiuy*S"
driver = "ODBC Driver 17 for SQL Server"

# Connection string using pyodbc
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"
engine = create_engine(connection_string)
# conn = engine.connect

In [32]:
df.to_sql('df_orders', con=engine, index=False, if_exists='append')

-1